# Your Turn Page 53

In [5]:
import pandas as pd
import numpy as np

#Set dataframe
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)
df.tail()

#Randomly select 500 rows from dataset
print(df.take(np.random.permutation(len(df))[:500]))

          fname       lname  gender  age  exercise  hours  grade  \
1440     Declan      Warner    male   14         4     12   89.7
80         Hoyt       Lyons    male   16         5      1   71.3
858     Brenden      Slater    male   16         1     14   89.7
1167     Whoopi        Lane  female   17         4     11   89.7
506        Noah      Suarez    male   16         1     12   82.6
505       Sonia       Kelly  female   17         4      7   83.6
663      Colton     Charles    male   17         5      8   80.1
1953       Erin     Mercado  female   15         4      9   71.4
459        Inez  Stephenson  female   17         5     17  100.0
15        Medge    Mccarthy  female   15         1      8   75.8
128   Shaeleigh     Clayton  female   19         2     12   92.4
236      Teagan     Mullins  female   15         1     12   91.3
604      Kessie    Gonzalez  female   19         3     13   86.4
1377     Mollie       Sweet  female   14         4     16   91.3
1313     Lenore     Freeman  female   18         3      3   76.4
680       David     Nichols    male   19         4     12   75.7
1767    Justina      Berger  female   18         4     11   90.2
286        Mary     Estrada  female   18         2      9   74.0
373        Inga      Sharpe  female   17         1      5   74.1
1981       Leah    Lawrence  female   15         5     15  100.0
1273  Sylvester      Newton    male   14         3     11   81.0
4       Noelani      Cherry  female   18         4     15   87.4
1915        Zoe     Collins  female   16         2     15   83.7
1657     Rashad        Sims    male   17         3     15   84.5
521       Yetta     Vasquez  female   17         2      6   77.3
607      Calvin   Maldonado    male   18         5      9   82.7
47      Kiayada     Bullock  female   18         3     11   74.9
1198      Brock    Espinoza    male   17         3     15   82.9
708       Amela     Randall  female   16         1      6   78.6
1047     Tobias     Delaney    male   17         3     10   76.2
...         ...         ...     ...  ...       ...    ...    ...
1482     Damian     Kaufman    male   16         1      9   71.3
31        Carol      Acosta  female   16         3     13   85.0
186         Gay      Wagner  female   17         4      7   75.0
1267     Tucker     Coleman    male   16         4     17   95.6
1006    William    Hatfield    male   16         5     13   89.2
406       Brett   Wilkerson    male   18         2      7   76.0
1957     Aileen      Sutton  female   18         5     16   91.4
1043   Madaline    Mcmillan  female   14         4      8   82.5
1734     Marcia       Perez  female   18         3     10   79.4
866        Zane     Rodgers    male   14         3     14   83.0
1776      Ulric         Gay    male   19         2     10   80.9
1447     Zorita      Benson  female   19         3     12   85.0
601       Leila       Riggs  female   15         3      9   71.4
415      Hedley   Rodriguez    male   15         3      8   78.3
1829     Odette     Merrill  female   17         4      7   85.0
151      Maggie        Rich  female   19         2     11   77.3
1099       Tara     Gilliam  female   16         2      5   63.4
530      Robert        Bass    male   16         4      9   73.8
495       Ivana       Watts  female   16         5      9   87.4
1862    Alfreda      Farley  female   16         2     13   76.8
1206    Xanthus      Franks    male   18         3      8   72.2
362      Claire     Wheeler  female   14         2     14   90.4
1720     Kelsie      Obrien  female   19         2      6   73.8
1860       Tara        Cook  female   16         3     10   77.1
1824      Brynn     Oconnor  female   18         5      5   64.7
747     Malcolm   Nicholson    male   19         3      9   79.2
654       Bruno      Sharpe    male   16         5     10   90.4
840       Naida    Davidson  female   14         3     13   90.8
1948    Ezekiel        Mays    male   19         2      7   74.5
437        Quin      Prince  female   18         5     15   92.4

                                                address
1440             19 Old York Lane, Toms River, NJ 08753
80     720 Linden Street, Springfield Gardens, NY 11413
858               60 York Street, Asbury Park, NJ 07712
1167             63 Queen Lane, Winter Garden, FL 34787
506           233 E. Wintergreen Dr., Jackson, NJ 08527
505           8257 Jockey Hollow Ave., Arvada, CO 80003
663                 9649 Valley Dr., Columbia, MD 21044
1953       63 N. Miller Street, Downers Grove, IL 60515
459                   51 Academy St., Roselle, IL 60172
15               609 Warren Court, Prior Lake, MN 55372
128              7388 West Branch Dr., Upland, CA 91784
236           12 Stillwater Drive, Nottingham, MD 21236
604                328 Nicolls Rd., Annandale, VA 22003
1377                    8971 Penn St., Winder, GA 30680
1313           195 North Philmont St., Albany, NY 12203
680     6 North Pulaski Court, South Portland, ME 04106
1767           187 Glenridge Dr., Summerfield, FL 34491
286                 896 Riverview Dr., Clover, SC 29710
373               7143 Bayport Ave., Lansdale, PA 19446
1981            652 Pine Drive, Mountain View, CA 94043
1273       83 Randall Mill Street, Birmingham, AL 35209
4              8304 Charles Rd., Lewis Center, OH 43035
1915              235 Mechanic St., Amsterdam, NY 12010
1657           908 Alderwood Street, Kingston, NY 12401
521                 54 Clark St., East Meadow, NY 11554
607                 167 Thomas Ave., Billings, MT 59101
47                   613 Peg Shop Court, Yuma, AZ 85365
1198          9252 Birchpond Dr., Centreville, VA 20120
708            64 Canterbury Street, Cranston, RI 02920
1047           85 Temple Street, Philadelphia, PA 19111
...                                                 ...
1482          9606 Birch Hill Street, Taylors, SC 29687
31                 8459 Windfall St., Navarre, FL 32566
186                    7368 Sugar Ave., Flint, MI 48504
1267               40 William Ave., Irvington, NJ 07111
1006              576 E. Shirley Rd., Paramus, NJ 07652
406            635 Arnold St., New Kensington, PA 15068
1957        404 Paris Hill Lane, West Roxbury, MA 02132
1043                    99 Wall Drive, Beloit, WI 53511
1734  9509 South Indian Summer St., Glen Cove, NY 11542
866                  9 Railroad Lane, Oshkosh, WI 54901
1776            924 Beech Street, Ft Mitchell, KY 41017
1447      64 Lower River Ave., Shepherdsville, KY 40165
601             8578 Evergreen Ave., Culpeper, VA 22701
415                  7381 Summer Road, Peoria, IL 61604
1829         9955 North Bayberry St., Danbury, CT 06810
151                  9188 Albany Ave., Goshen, IN 46526
1099           240 Beaver Ridge Drive, Duluth, GA 30096
530          21 S. Somerset Street, San Diego, CA 92111
495                   832 Forest St., Lansing, MI 48910
1862          29 Chestnut Court, New Rochelle, NY 10801
1206    123 East Longbranch Ave., Sevierville, TN 37876
362                  99 Hanover St., Lockport, NY 14094
1720             176 Circle St., Fayetteville, NC 28303
1860          71 North Roosevelt Ave., Auburn, NY 13021
1824             5 Bay Meadows Dr., Millville, NJ 08332
747          8 NW. Marshall Drive, Chelmsford, MA 01824
654                  2 Coffee Avenue, Mankato, MN 56001
840                8721 Pulaski St., Hamilton, OH 45011
1948               69 Princeton Ave., Henrico, VA 23228
437               25 Cleveland Drive, Hopkins, MN 55343

[500 rows x 8 columns]